body {
  font-family: Arial, sans-serif;
  text-align: center;
}

canvas {
  max-width: 800px;
  margin: 0 auto;
  display: block;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
}

#stats {
  font-size: 18px;
  margin-top: 20px;
}
.up{
  background-color: rgb(62, 248, 0);
}
.down{
  background-color: rgb(226, 43, 43);
}